# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace the line below with your
# domain name.


{
    servers {
        metrics
    }
    debug
    admin :2019
}

www.{$APP_URL} {
	redir {$APP_URL}{uri}
}

# Remove http:// to enable TLS
{$APP_URL} {
    tls {$TLS_CONFIG}
    # Set this path to your site's directory.
    root * /var/www/html/

	@notStatic path /api/* /socket.io/*
	handle @notStatic {
		reverse_proxy {
            dynamic a {
                name {$BE_URL}
                port 5000
            }
			flush_interval -1
			lb_policy query nonce
		}
	}

	handle /healthcheck {
	    @denied not client_ip private_ranges
	    abort @denied
        respond 200
    }

	handle /metrics {
	    @denied not client_ip private_ranges
	    abort @denied
		metrics
	}

	handle {
		root * static/
		try_files {path} {path}.html html/{path}.html
		redir /stockfish.wasm /js/stockfish.wasm
		file_server
	}

	log {
		output file /var/log/access.log {
			roll_size 150mb
			roll_keep_for 48h
			roll_keep 5
		}
		format json
        level DEBUG
	}
}