name: chessmine
services:
    redis:
        container_name: "redis"
        image: "redis:alpine"
        ports:
          - 6379:6379
        deploy:
          resources:
            limits:
              cpus: '0.10'
              memory: 100M
    redis_exporter:
      container_name: "redis_exporter"
      image: "oliver006/redis_exporter:alpine"
      privileged: true
      environment:
        REDIS_ADDR: "redis"
      depends_on:
        - redis
    operator:
      container_name: "operator"
      build:
        context: ../backend/operator
        dockerfile: Dockerfile
      environment:
        SERVER_ADDR: host.docker.internal
        REDIS_ADDR: redis
      volumes:
        - ../backend/operator/:/usr/app
    caddy:
        container_name: "caddy"
        build:
          context: ../frontend
          dockerfile: Dockerfile
          args:
            APP_URL: http://localhost
            BE_URL: host.docker.internal
        ports:
          - 443:443
          - 80:80
    cadvisor:
        container_name: "cadvisor"
        image: "gcr.io/cadvisor/cadvisor:latest"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
          - /sys:/sys:ro
          - /var/lib/docker/:/var/lib/docker:ro
        privileged: true
        depends_on:
          - caddy
    prometheus:
        image: "prom/prometheus:latest"
        container_name: "prometheus"
        volumes:
          - ./prometheus.yml:/etc/prometheus/prometheus.yml
          - ./targets.json:/etc/prometheus/targets.json
        privileged: true
        depends_on:
          - cadvisor
    grafana:
        container_name: "grafana"
        image: "grafana/grafana:latest"
        ports:
          - 3000:3000
        environment:
          - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
          - DS_PROMETHEUS=prometheus
        volumes:
          - ./datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
          - ./dashboard.json:/var/lib/grafana/dashboards/dashboard.json
          - ./redis_dashboard.json:/var/lib/grafana/dashboards/redis_dashboard.json
          - ./default.yml:/etc/grafana/provisioning/dashboards/default.yml
        privileged: true
        depends_on:
          - prometheus
